doctype html
html
   head
      title Civalittle
   body
      include ./header.pug
      H1 Adam pushes Flakes Games in Progress
      table
        tr
          th(align="left") Game
          th(align="left") Waiting on Player
          th(align="left") Time Since Last Turn
        each game, idx in games
          tr
            td
              a(href=/games/ + game) #{game}
            td #{currentPlayers[idx]}
            td #{timeSinceLastMoves[idx]}
