doctype html
html
   head
      title Civalittle
   body
      H1 Games in Progress
      table
        tr
          th(align="left") Game
          th(align="left") Waiting on Player
          th(align="left") Time Since Last Turn
        each game, idx in games
          tr
            td #{game}
            td #{currentPlayers[idx]}
            td #{timeSinceLastMoves[idx]}
